<!DOCTYPE html>
<html>
<head>
    <title>ZQRadar Drawing</title>
    <style>
        body {
            background-color: #121317;
        }

        /* Position the canvases, with the topCanvas above the gridCanvas */
        #mapCanvas {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
        }

        #gridCanvas {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
            border: 2px solid grey;
        }

        #drawCanvas {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
        }

        #ourPlayerCanvas {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
        }

        #button {
            position: absolute;
            top: 520px;
            background-color: #1a1c23;
            color: white;
            margin: 10px;
            border: 1px solid gray;
            padding: 8px 18px;
            cursor: pointer;
            left: 0;
        }

        #logEnemiesList {
            position: absolute;
            top: 520px;
            background-color: #1a1c23;
            color: white;
            margin: 10px;
            border: 1px solid gray;
            padding: 8px 18px;
            cursor: pointer;
            left: 100px;
        }

        #sonarButton {
            position: absolute;
            top: 520px;
            background-color: #1a1c23;
            color: white;
            margin: 10px;
            border: 1px solid gray;
            padding: 8px 18px;
            cursor: pointer;
            left: 250px;
        }

        #volumeLabel {
            position: absolute;
            top: 520px;
            left: 400px;
            background-color: #1a1c23;
            color: white;
            margin: 10px;
        }

        #volumeSlider {
            position: absolute;
            top: 550px;
            background-color: #1a1c23;
            color: white;
            margin: 10px;
            border: 1px solid gray;
            padding: 8px 18px;
            cursor: pointer;
            left: 400px;
        }

        #playerVolumeLabel {
            position: absolute;
            top: 590px;
            left: 400px;
            background-color: #1a1c23;
            color: white;
            margin: 10px;
        }

        #playerVolumeSlider {
            position: absolute;
            top: 620px;
            background-color: #1a1c23;
            color: white;
            margin: 10px;
            border: 1px solid gray;
            padding: 8px 18px;
            cursor: pointer;
            left: 400px;
        }

        #canvasContainer {
            position: relative;
        }

        #thirdCanvas {
            position: absolute;
            margin: 10px;
            top: 0;
            bottom: 0;
            left: 520px;
            border: 2px solid grey;
        }
    </style>
</head>
<body>
    <div id="canvasContainer">
        <canvas id="mapCanvas" width="500" height="500"></canvas>
        <canvas id="gridCanvas" width="500" height="500"></canvas>
        <canvas id="drawCanvas" width="500" height="500"></canvas>
        <canvas id="ourPlayerCanvas" width="500" height="500"></canvas>
        <canvas id="thirdCanvas" width="500" height="500"></canvas>
        <button id="button">Clear</button>
        <button id="logEnemiesList">Log Enemies List</button>
        <button id="sonarButton">Enable Sonar</button>
        <label id="volumeLabel" for="volumeSlider">Sonar Volume:</label>
        <input type="range" id="volumeSlider" min="0" max="100" value="2">
        <label id="playerVolumeLabel" for="playerVolumeSlider">Player Detected Volume:</label>
        <input type="range" id="playerVolumeSlider" min="0" max="100" value="50">
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>
    <script src="/scripts/Handlers/HarvestablesHandler.js"></script>
    <script src="/scripts/Handlers/MobsHandler.js"></script>
    <script src="/scripts/Handlers/ChestsHandler.js"></script>
    <script src="/scripts/Handlers/DungeonsHandler.js"></script>
    <script src="/scripts/Handlers/Map.js"></script>
    <script src="/scripts/Handlers/MobsInfo.js"></script>
    <script src="/scripts/Handlers/ItemsInfo.js"></script>
    <script src="/scripts/Handlers/FactionFlagInfo.js"></script>
    <script src="/scripts/Utils/DrawingUtils.js"></script>
    <script src="/scripts/Utils/Settings.js"></script>
    
    <script type="module" src="/scripts/Utils/Utils.js"></script>
</body>
</html>
